.header {
	margin: 0;
}

.menuItem {
	background-color: rgba(51, 51, 51, 1) !important;
	font-size: 1.1em;
	display: block;
	z-index: 1000;
	margin-top: 0px !important;
	margin-bottom: 0px;
	border-radius: 0;
	border-bottom: 1px solid black;
}